/* よくある質問 */
.questions {
    font-family: sans-serif;
    cursor: pointer;
}
.questions details {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    /* 質問ごとの間隔 */
    margin-bottom: 1rem;
    background-color: whitesmoke;
}
.questions summary {
    height: 2.5rem;
    width: 100%;
    font-weight: bold;
    padding-top: 0.7rem;
    text-align: left;
}
.questions p {
    padding-top: 1.5rem;
    text-align: left;
}
