/* みんなの声について */
.voice-container {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 0 2.5rem;
}
.voice-card {
    background-color: #ccc;
    width: 450px;
    height: 630px;
    border-radius: 1rem;
    text-align: left;
    padding: 2rem 2.5rem;
    flex-shrink: 0;
}
.voice-header {
    display: flex;
    align-items: center;
}
.voice-img {
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}
.voice-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.2rem;
    font-weight: bold;
    line-height: 0.3;
}
.voice-text {
    /* text-align: left; */
    line-height: 1.8;
    padding: 0 0.8rem;
}
